<div class="nav">
    <div class="menu container">
        <h1>
            <a href="#">glasses shop</a>
        </h1>
        <ul>
            <li><a href="product.html">系列鏡框</a></li>
            <li><a href="storeLocations.html">門市據點</a></li>
            <li><a href="blog.html">部落格</a></li>
            <li><a href="fqa.html">常見問題</a></li>
        </ul>
    </div>
</div>