.footer {
  background: $primary-color;
  color: #fff;
  padding-top: 48px;
  padding-bottom: 32px;

  .content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 32px;

    .menu {
      display: flex;
      gap: 24px;
      font-size: 16px;
      margin: 0 -12px;
      margin-bottom: 24px;

      a {
        padding: 12px;
      }
    }

    .contact {
      font-size: 36px;
      // padding-bottom: 32px;

      li {
        display: flex;
        align-items: center;
      }

      span {
        font-size: 36px;
        margin-right: 22px;
        padding-left: 6px;
      }
    }

    img {
      width: 48px;
      display: block;
    }
  }

  .social {
    display: flex;
    gap: 32px;
  }

  .info {
    display: flex;
    margin-top: 32px;

    p {
      margin-right: auto;
    }

    a {
      font-size: 14px;
    }
  }

  @include pad() {
    .social {
      gap: 16px;
    }
  }

  @include mobile() {
    padding-top: 24px;
    padding-bottom: 24px;

    .content {
      padding-bottom: 24px;

      .menu {
        display: none;
      }

      .contact {
        font-size: 16px;

        span {
          font-size: 24px;
          margin-right: 8px;
        }
      }

      img {
        width: 24px;
      }
    }

    .social {
      gap: 8px;
    }

    .info {
      flex-direction: column;
      margin-top: 16px;
      gap: 8px;
    }
  }
}