.footer {
  background: $primary-color;
  line-height: 1.5;
  color: #fff;
  padding-top: 48px;
  // padding-bottom: 32px;

  .content {
    border-bottom: 1px solid #fff;
    padding-bottom: 32px;
  }

  .menu {
    margin: 0 -12px;
  }

  .menu a {
    padding: 12px;
  }

  ul.info {
    border-bottom: #fff 1px solid;
  }

  img {
    width: 48px;
    display: block;
  }
}